# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
dump.rdb
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

## DB Store
.DS_Store

## Env
.env

## Assets
app/assets/images/*
!app/assets/images/test_buddy

## Uploads
uploads/*
public/uploads/*
spec/uploads/*

## Interactor
app/interactors/project/*
!app/interactors/project/test_buddy

## Templates
app/templates/*
!app/templates/test_buddy
