<style>
  .hello {
    padding: 20px;
    background: #eee;
  }
</style>

<div>
  <div class='hello'>
    <% 5.times do |_| %>
      <div class='text'><%= context.template %></div>
    <% end %>
  </div>
</div>
